#album {
	display: block;
}

#bandMembers {
	display: none;
}

#bandMembers__info {
	display: none;
}

#albumImages {
	display: none;
}

#albumInfo {
	display: none;
}

#albumTracks {
	display: none;
}

#confirmation {
	display: none;
}