body {
	display: flex;
	justify-content: center;
	margin: 0;
}

#addAlbumForm {
	width: 700px;
	height: 300px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: solid 1px grey;
}

#album {
	display: block;
}

#bandMembers {
	display: none;
}

#bandMembers__info {
	display: none;
}

#albumImages {
	display: none;
}

#albumInfo {
	display: none;
}

#albumTracks {
	display: none;
}

#confirmation {
	display: none;
}
